
.mainContainer {
    margin: 10% 25%;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 5px;
}

.inputContainer {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gridContainer {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.1px;
    
}

.gridCell {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid gray;
    font-size: 75px;
}

h3 {
    margin: 15px auto;
    color: white;
}

p{
    margin: 5px auto;
    color: white;
}